body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  *{
    align-content: center;
  }
  header {
    background-color:greenyellow;
    color: #fff;
    padding: 20px;
  }
  #skills{
    text-align: center;
  }
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 90px;
    padding-left: 750px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 40px;
  }
  
  nav ul li a {
    color:white;
    text-decoration: none;
  }
  a:hover{
    color: rgb(47, 15, 227);
  }
  a:active{
    color:#640fee
  }
  #lee{
    text-align:center;
    padding-bottom: 50px;
  }
  section {
    padding: 20px;
  }
  #ohm{
    text-align: left;
    padding-right: 350px;
  }
  section h2 {
    margin-top: 0;
  }
  
  section ul {
    padding-left: 20px;
  }
  #pro{
    display:inline-block;
  }
  section li {
    margin-bottom: 10px;
  }
  
  section li h3 {
    margin: 0;
  }
  
  #home {
    background-color:whitesmoke;
    align-items: center;
    align-content: center;
    text-align: center;
    background: whitesmoke;
  }
  
  #about {
    background-color: whitesmoke;
    text-align: center;
  }
  
  #projects {
    background-color: whitesmoke;
    text-align: center;
  }
  
  #contact {
    background-color: whitesmoke
    text-align: center;
  }
   h2{
    color: #640fee;
  }
  